@layer reset, base, tokens, recipes, utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-sunshine-300) transparent;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--colors-sunshine-300); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: var(--colors-sunshine-700); }

[data-theme="dark"] * {
  scrollbar-color: var(--colors-sunshine-700) transparent;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb { background: var(--colors-sunshine-700); }
[data-theme="dark"] ::-webkit-scrollbar-thumb:hover { background: var(--colors-sunbeam-orange); }
